body{
    background:#232323;
    margin:0;
    font-family: Raleway;
}

#h1{
    margin:0;
}

.navbar{
    border-top:2px solid white;
    border-bottom:2px solid white;
    color: white;
    background-color: #4CAF50;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 20px 0;
}

.form{
    width: 560px;
    background: #fff;
    border-radius: 10px;
    padding-top: 45px;
	padding-bottom: 45px;
	padding-left: 85px;
	padding-right: 85px;
    margin:2.8% auto; 
}

#bold{
	font-weight: bold;
	color:#555555;
	font-size:18px;
}

#color{
	color:#555555;
}

input{	
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline:none;
}

button{
    background-color: #4CAF50;
    color: #fff;
	border-radius:100px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    outline:none;
    font-size:20px;
}
