body{
    background:#232323;
    margin:0;
    font-family: Raleway;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #83c985;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav-right {
  float: right;
}





.container{
  width: 560px;
  background: #fff;
  border-radius: 10px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 85px;
  padding-right: 85px;
  margin:8% auto; 
}

.color{
    color: #555555;
}

.font{
  font-size:18px;
  font-weight: bold;
}